<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <label>Edit suggested diet</label>
    <input name="diet" #firstName="ngModel" [(ngModel)]="service.formData.diet" class="form-control" required>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Adjust Diet</button>
  </div>
</form>