<div #alert class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" aria-label="Close" (click) = "closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <span *ngIf="deletedUser"><strong>You deleted - {{deletedUser.firstName}} {{deletedUser.lastName}}</strong></span>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Username</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Body Information</th>
    <th scope="col">Delete</th>
  </tr>
</thead>
  <tr *ngFor="let user of service.list">
    <td (click)="populateForm(user)">{{user.lastName}}-{{user.firstName}}</td>
    <td (click)="populateForm(user)">{{user.username}}</td>
    <td (click)="populateForm(user)">{{user.phoneNumber}}</td>
    <td (click)="populateForm(user)">{{user.bodyInformation}}</td>
    <td><button (click)="onDelete(user.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>