<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
 <div class="row">
   <div class="input-field col s12">
     <input class="validate" type="text" #UserName ngModel name="UserName" required>
     <label data-error="Required field!">Username</label>
   </div>
 </div>
 <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="password" #Password ngModel name="Password" required>
      <label data-error="Required field!">Password</label>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
        <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
      </div>
    </div>
</form>