<div *ngIf="userService.roleMatch(['Admin'])" class="container">
  <app-persons></app-persons>
</div>
<div *ngIf="userService.roleMatch(['Client'])" class="container">
  <app-diet-requests></app-diet-requests>
</div>
<div *ngIf="userService.roleMatch(['Dietician'])" class="container">
  <app-diet-plans></app-diet-plans>
</div>