<div #alert class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click) = "closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    <span *ngIf="update"><strong>You updated a user!</strong></span>
    <span *ngIf="wrong"><strong>You don't have that user to update!</strong></span>
  </div>

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <div class="form-group">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <input type="hidden" name="email" #id="ngModel" [(ngModel)]="service.formData.email">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" required>
    <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">This field is required.</div>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control">
  </div>
  <div class="form-group">
    <label>Body Information</label>
    <input name="bodyInformation" #bodyInformation="ngModel" [(ngModel)]="service.formData.bodyInformation" class="form-control">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Username</label>
      <input name="username" #username="ngModel" [(ngModel)]="service.formData.username" class="form-control">
    </div>
    <div class="form-group  col-md-6">
      <label>Phone Number</label>
      <input name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="service.formData.phoneNumber" class="form-control">
    </div>

  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">UPDATE USER</button>
  </div>
</form>