<div style="max-width: 800px">
<table class="table table-hover">
  <tr style="font-size: 2rem;">Clients Requests</tr>
  <table class="table table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Messages</th>
        </tr>
        </thead>
  <tr *ngFor="let dietRequest of service.list">
    <td (click)="populateForm(dietRequest)">{{dietRequest.requestMessage}}</td>
  </tr>
</table>
</table>
</div>