<nav>
    <div class="nav-wrapper">
      <a routerLink="/home" class="brand-logo center" style="text-decoration: none">
        <i class="material-icons">extension</i>iDiet</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/home" style="text-decoration: none">Home</a></li>
        <li *ngIf="userService.roleMatch(['Dietician'])">
          <a routerLink="/dieticianPanel" style="text-decoration: none">Diet Requests</a>
        </li>
        <li><a routerLink="/foodPanel" style="text-decoration: none">Food Panel</a></li>
        <li *ngIf="userService.roleMatch(['Client'])">
            <a routerLink="/clientPanel" style="text-decoration: none">Diet Plans</a>
          </li>
          <li>
              <a routerLink="/profile" style="text-decoration: none">My Profile</a>
          </li>
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>