<div style="max-width: 700px; margin-left:30px;">
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">

    <label>Message Request</label>
    <input disabled name="dietRequestMessage" #dietRequestMessage="ngModel" [(ngModel)]="service.dietRequestMessage" class="form-control"
      required>

  <label>Diet Plan/Suggestion</label>
  <input name="diet" #diet="ngModel" [(ngModel)]="service.formData.diet" class="form-control" required>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Respond to request</button>
  </div>
</form>
</div>