<h1 class="display-4 text-center">Your personalized diet Plans</h1>

<div class="table-dim">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr><th>Diet Request Responses</th></tr>
    </thead>
    <tr *ngFor="let dietPlan of service.listForCurrentClient">
      <td >{{dietPlan.diet}}</td>
     </tr>
  </table>
</div>

<button (click)="goBack()" class="btn btn-primary" style="left: 28%; position:absolute; margin-bottom:30px;">Go Back</button>