<table class="table table-hover">
  <tr style="font-size: 2rem;">Your diet requests</tr>
  <tr>
    <td>Your Message Requests</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let dietRequest of service.listForCurrentClient">
    <td (click)="populateForm(dietRequest)">{{dietRequest.requestMessage}}</td>
    <td><button (click)="onDelete(dietRequest.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>