
<div  style="overflow-y: scroll; max-height: 500px;">
<table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Suggested Diets</th>
          <th>Action</th>
          </tr>
          </thead>
  <tr *ngFor="let dietPlan of service.list" >
    <td (click)="populateForm(dietPlan)">{{dietPlan.diet}}</td>
  <td><button (click)="onDelete(dietPlan.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>
</div>