
  <h3 class="display-5 text-center" style="margin-top:30px;">Food details panel</h3>
<button (click)="goBack()" class="btn btn-primary" style="margin-bottom:20px; margin-left:30px; margin-top:30px">Go Back</button>
<div>
  <ul class= "list-group col-md-6 position">
    <li class="list-group-item list-group-item-secondary">Choose a food to see more details</li>
  <div *ngFor="let food of this.service.list; index as i">
    <a (click)="this.refreshCharts(i)" class="list-group-item list-group-item-action"> {{food.name}} </a>
  </div>
</ul>
  <br>
  <h2 class="position" style="margin-left: 320px;">{{this.foodName}}</h2>
  <div class="chart-style">
    <canvas id="lineChart" ></canvas>
    <canvas id="barChart"></canvas>
    <canvas id="pieChart"></canvas>
  </div>
  </div>
  
  <router-outlet></router-outlet>
  