a{
    text-decoration: none;
}

.dimensions{
    max-width: 700px;
    top: 150px;
    position: relative;
    overflow-y: scroll;
    max-height: 500px;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.logo{
    text-decoration: none;
    color:rgb(139, 139, 139);
    transition: 0.3s;
    font-size: 50px;
    position: absolute;
    left: 45%;
    top: 45px;
}

.logo:hover{
    color:rgb(22, 22, 22);
    transition:0.3s;
}
