<a href="#" class="brand-logo center" class="logo">
    <i class="material-icons">extension</i>iDiet</a>

<div class="container dimensions" id="style-2">
  <div class="row">
    <div class="col s8">
      <div class="card grey lighten-2">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width tabs-transparent">
            <li class="tab">
              <a routerLink='/login' routerLinkActive='active'>Login</a>
            </li>
            <li class="tab">
              <a  routerLink='/register' routerLinkActive='active'>Register</a>
            </li>
          </ul>
        </div>
        <div class="card-content white">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>