<div class="jumbtron">
  <h3 class="display-5 text-center" style="font-size:2.5rem; margin-top:40px; ">Respond to clients requests for a diet</h3>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-5">
      <app-diet-plan-for-request></app-diet-plan-for-request>
      <button (click)="goBack()" class="btn btn-primary" style="left: 5%;position: relative;margin-bottom: 14px; margin-top: 20px;">Go Back</button>
    </div>
    <div class="col-md-7">
      <app-diet-plan-for-request-list></app-diet-plan-for-request-list>
    </div>
  </div>
</div>