
 <h3 class="display-5 text-center text-pos">Profile panel</h3>
<div class="wrap"><div class="row" *ngIf="userClaims">
    <div class="col s12 m7">
      <div class="card">
        <div class="list-group">
          <span class="list-group-item"> <b>Username</b> :{{userUpdate.username}}</span>
          <br>
          <span class="list-group-item"><b>Email</b> : {{userUpdate.email}}</span>
          <br>
          <span class="list-group-item"><b>Full Name</b> : {{userUpdate.firstName}} {{userUpdate.lastName}}</span>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div #alert class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" aria-label="Close" (click) = "closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      <span *ngIf="update"><strong>You updated a user!</strong></span>
      <span *ngIf="wrong"><strong>You don't have that user to update!</strong></span>
    </div>
  
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="form-group">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="userUpdate.id">
    <input type="hidden" name="email" #id="ngModel" [(ngModel)]="userUpdate.email">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input name="firstName" #firstName="ngModel" [(ngModel)]="userUpdate.firstName" class="form-control" required>
      <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">This field is required.</div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input name="lastName" #lastName="ngModel" [(ngModel)]="userUpdate.lastName" class="form-control">
    </div>
    <div class="form-group">
      <label>Body Information</label>
      <input name="bodyInformation" #bodyInformation="ngModel" [(ngModel)]="userUpdate.bodyInformation" class="form-control">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Username</label>
        <input name="username" #username="ngModel" [(ngModel)]="userUpdate.username" class="form-control">
      </div>
      <div class="form-group  col-md-6">
        <label>Phone Number</label>
        <input name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="userUpdate.phoneNumber" class="form-control">
      </div>
  
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Update your profile</button>
    </div>
  </form>
</div>

