<div class="jumbtron">
  <h1 class="display-5 text-center" style="margin-top:30px; margin-bottom:30px">Diet Plans</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
    <app-diet-plan></app-diet-plan>
    </div>
    <div class="col-md-7">
     <app-diet-plan-list></app-diet-plan-list>
    </div>
  </div>
</div>