<div class="jumbtron">
  <h3 class="display-4 text-center" style="font-size:2.5rem ">Ask Dietician for a new plan - give details</h3>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-5">
    <app-diet-request></app-diet-request>
    </div>
    <div class="col-md-7">
     <app-diet-request-list></app-diet-request-list>
    </div>
  </div>
</div>