<div class="jumbtron">
  <h3 class="display-5 text-center text-pos">Admin management</h3>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-person></app-person>
    </div>
    <div class="col-md-7">
      <app-person-list></app-person-list>
    </div>
  </div>
</div>